---
layout: page
---
<div class="posts">
  {% for page in paginator.posts %}
  	<div class="post">
			
			<a href="{{ page.url }}"><h2>{{ page.title }}</h2></a>
			<div class="row">
				
				<div class="span6">
			    <p>{{ page.content }}</p>
			  	{% include listen_to_this %}
		  	</div>

				<div class="span5">
					<!-- Tags -->
					<ul class="tag_box inline">
						{% assign tags_list = page.tags %}
						{% include tags_list %}
					</ul>
				</div>
		  </div>
		</div>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination pagination-centered">
	<ul>
		{% if paginator.next_page %}
	    <li class="next"> 
			<a href="/page{{paginator.next_page}}" title="Next Page" class="next" rel="next">&larr; Older Posts</a>
			</li>
		{% else %}
			<li class="disabled"><a href="#">NO MORE!!!</a></li>
	  {% endif %}
	
	  {% if paginator.previous_page %}
	    <li class="prev">
				{% if paginator.previous_page == 1 %}
      		<a href="/" title="Previous Page" class="prev">Newer Posts &rarr;</a>
      	{% else %}
					<a href="/page{{paginator.previous_page}}" title="Previous Page" class="prev" rel="prev">Newer Posts &rarr;</a>
				{% endif %}
			</li>
	  {% endif %}
	</ul>
</div>



